---
title: Студвесна ПГУТИ
description: test
---

# Студвесна ПГУТИ

Приглашаем всех на концерт!

<div class="mx-auto flex justify-center items-center">
    <img src="https://sun9-3.userapi.com/impg/vqiPXf-emR3HWux7J2c5jpXuXThqw2XflLDqdw/qg1Q-7BvcSw.jpg?size=904x1280&quality=95&sign=577ce921f70422aba17a54ec74dffe29&type=album" />
</div>

<p style="text-align: end;" class="text-xl">Узнать больше в <a href="https://vk.com/psuti?w=wall-78711199_6655">VK</a></p>